*{
    margin: 0;
    padding:0;
}

.navbar{
   top: 0%;
   position: sticky;
   display: flex;
   align-items: center ;
   
}
.logo{
    width: 10%;
    border-radius: 50px;
    margin: 6px;
    height: auto;
}